@model Interest
@{
    ViewData["Title"] = "CreateInterest";
}

<h2>CreatePost</h2>
<div id="theForm">
	<form asp-controller="Home" asp-action="CreateInterest" asp-method="post">
		<label asp-for="InterestCategory">Interest Category</label>
		<input asp-for="InterestCategory" /> <br />
		
		<input type="submit" value="Save Interest" />
	</form>
</div>
