@model IEnumerable<User>
@{
	ViewData["Title"] = "FindFriends";
}

<h2>FindFriends</h2>

<div>
	@foreach (User friend in Model)
	{
		<br />
		<label>@friend.FirstName @friend.LastName </label>
		<button class="requestButton" id=@friend.Id onClick="sendRequest(this.id)">Send Friend Request</button>
		<br />
	}
</div>

<script>
	function sendRequest(userId) {

		var urlToSendRequest = "https://" + window.location.host + "@Url.Action("SendRequest", "Home")";
		console.log(urlToSendRequest);

			(async () => {
				const rawResponse =
					await fetch(urlToSendRequest,
					{
					method: 'POST',
					headers:
					{
							'Accept': 'application/json',
							'Content-Type': 'application/json',
							},
					credentials: "same-origin",
					body: JSON.stringify(userId)
				});
				const content = await rawResponse.json();

				console.log(content);
			})();
		alert(userId);
	}
</script>

