@model IEnumerable<User>
@{
	ViewData["Title"] = "FindFriends";
}

<h2>FindFriends</h2>

<div>
	@foreach (User friend in Model)
	{
		<br />
		<div id=@friend.Id>
		<label>@friend.FirstName @friend.LastName </label>
		<button id=@friend.Id onclick="sendRequest(this.id)">Send Friend Request</button>
		</div>
	}
</div>

<script>
	async function sendRequest(userId) {
		await sendData("@Url.Action("SendFriendRequest", "Home")", userId);
	}

	function fadeOutEffect(userId) {
		var element = document.getElementById(userId);
		console.log(userId);
		var fadeEffect = setInterval(
			function ()
			{
				if (!element.style.opacity)
				{
					element.style.opacity = 1;
				}
				if (element.style.opacity < 0.1)
				{
					clearInterval(fadeEffect);
				}
				else
				{
					element.style.opacity -= 0.1;
				}
			}, 100);
	}
</script>

