@model User
@{
	ViewData["Title"] = "Home Page";
}

@*@foreach (var p in Model.Posts)
{
<div>
	<h3>@p.PostText</h3>
	<p>@p.PostDate</p>
	@foreach (var interest in p.PostInterests)
	{

		<h4>@interest.Interest</h4>
	}
</div>
}*@