@model IEnumerable<Post>
@{
	ViewData["Title"] = "Home Page";
}

<h2>My Wall</h2>

@foreach (Post post in Model)
{
	<h1>@post.PostText</h1>
	<h2>@post.PostScope</h2>
	<h1>@post.PostDate</h1>
	foreach (var interest in post.PostInterests)
	{
		<p>@interest.Interest.InterestCategory</p>
	}
}