@model MyWallViewModel
@{
	ViewData["Title"] = "Home Page";
}

<partial name="_CreatePostPartial" />
<!-- Button TO CREATE A NEW POST modal -->
<br />
<button type="button" class="btn-lg btn-success btn-block" data-toggle="modal" data-target="#createPost">Create a new Post</button>
<br />
<partial name="_DisplayPostsPartial" />
