@model MyWallViewModel
@{
	ViewData["Title"] = "Profile";
}
<link href="~/css/profile.css" rel="stylesheet" />
<br />
<div class="jumbotron">
	<img src="@Model.ThisUser.UserAvatar" class="profile-avatar rounded-circle img-thumbnail">
	<h1>@Model.ThisUser.FirstName @Model.ThisUser.LastName</h1>
	Top 3 Interests of @Model.ThisUser.FirstName
</div>

@if (Model.CanCreateNewPostHere)
{
	<partial name="_CreatePostPartial" />
}
<!-- Button TO CREATE A NEW POST modal -->

<partial name="_DisplayPostsPartial" />
