@model MyWallViewModel
@{
	ViewData["Title"] = "Profile";
}
<partial name="_CreatePostPartial" />
<!-- Button TO CREATE A NEW POST modal -->
<br />
<button type="button" class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#createPost" data-whatever="mdo">Create a new Post</button>
<br />
<partial name="_DisplayPostsPartial"/>
