@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	In a few years<br />
	Menlo Park, CA 94025–94029<br />
	<abbr title="Phone">P:</abbr>
	Your mother's
</address>

<address>
    <strong>Support:</strong> <a href="mailto:AntePou8esKaiSupport@bitsplease.com">AntePou8esKaiSupport@bitsplease.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:GamameKaiDernoume@bitsplease.com">GamameKaiDernoume@bitsplease.com</a>
</address>
