.jumbotron {
	background-color: #446789;
	/*background-color: #6082b6;*/
}

.profile-avatar {
	object-fit: cover;
	vertical-align: middle;
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
	margin-right: 10px;
}
