@model MyWallViewModel
<div class="modal fade" id="editThis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">What's in your mind?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="editCommentText" class="col-form-label">Change this...</label>
						<input id="editCommentText" type="text" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="editModal">Close</button>
				<button id="confirmChanges" type="button" class="btn btn-primary">Save Changes</button>
			</div>
		</div>
	</div>
</div>
<script>
    document.addEventListener('keydown', (e) => {
        if (e.which == 13) {
            sendNewPost();
            return false;
        }
    });
</script>