
<link href="~/css/master.css" rel="stylesheet" />

<div class="loader">
	<div class="wrapper">
		<div class="left_side">
			<span class="text">You know Facebook.</span>
		</div>
		<div class="right_side">
			<span class="text">
				Now Meet<br> <br>
				<img src="~/images/Logo.png" width=450 />
			</span>
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	$('body').toggleClass("invisible");
	$(window).ready(function () {
		$('.wrapper').toggleClass('active').delay(7000).fadeOut();
		window.setTimeout(function () { $('body').toggleClass('invisible').toggleClass('login'); }, 7500);
	})
		
		//.queue(function () { $(this).click().dequeue(); });
</script>
